#header{
  background: linear-gradient(90deg, #72072D 0%, #FF005C 100%);
  padding: 0 20px;
  img{
    width: 35px;
    height: 35px;
    margin: 0 2.8rem 0 2.8rem;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    position: relative;
    z-index: 2;
    .left{
    }
    .iconch{
      position: absolute;
      z-index: 2;
      top: 4rem;
      right: 40rem;
      font-size: 23px;
      color: white;
    }
    h1{
      color: white;
      font-size: 330%;
    }
    input{
      color: white;
      height: 3rem;
      width: 45rem;
      border: 1px solid white;
      border-radius: 20px;
      padding: 0 20px 0 20px;
      background: rgba(196, 196, 196, 0.14);
    }
    span{
      color: white;
    }
    .right{
      display: flex;
      .block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 2rem;
        span{
          padding-top: 5px;
        }
      }
    }
  }
}