#manpage {
  .manpage {
    .photo {
      padding: 10px;
      .man{
        width: 25%;
        padding: 0 20px;
      }

      .woman {
        width: 25%;
        padding: 0 20px;
      }

      .girl {
        width: 25%;
        padding: 0 20px;
      }
      .foot{
        width: 25%;
        padding: 0 20px;
      }
    }
  }
}