#home {
  position: relative;
  //height: 150rem;
  .bag {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 80%;
  }

  .home {
    .block1 {
      display: flex;

      .family {
        width: 35%;
      }

      .content-1 {
        display: flex;
        flex-direction: column;

        h1 {
          font-style: normal;
          font-weight: 900;
          font-size: 48px;
          line-height: 58px;
          color: #72072D;
          padding: 5rem 0 0 5rem;
        }

        ul {
          padding: 8rem 0 0 8rem;

          li {
            padding-bottom: 1.5rem;
            color: #FF005C;

            a {
              font-style: normal;
              font-weight: 900;
              font-size: 24px;
              line-height: 29px;
              color: #FF005C;
            }
          }
        }
      }
    }

    .block2 {
      display: flex;
      flex-direction: column;
      padding: 3rem 20px;

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #72072D;
        padding: 5rem 4rem;
      }

      .content-2 {
        display: flex;
        justify-content: space-evenly;

        .img {
          width: 21.5%;
          img{
            width: 100%;
          }
        }
      }
    }

    .block3 {
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #72072D;
        padding: 5rem 4.5rem;
      }
      h2{
        display: none;
      }

      .content-3 {
        display: flex;
        flex-direction: column;

        .recomen-block {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          height: 100%;
          margin-bottom: 5rem;
          padding: 0 0 0 11rem;

          .block-r {
            padding: 20px;

            .man {
              height: 20rem;
            }

            h5 {
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 117.69%;
              letter-spacing: -0.025em;
              padding-top: 1rem;
            }

            .block-content {
              display: flex;
              justify-content: space-between;

              img {
                //width: 46px;
                //height: 30px;
                padding: 5px;
                border: 1px solid #DF0086;
                border-radius: 8px;
              }

              h1 {
                font-style: normal;
                font-weight: 800;
                font-size: 24px;
                line-height: 117.69%;
                letter-spacing: -0.025em;
                color: #000000;
                padding: 0;
              }
            }
          }
        }
      }
    }

    .block4 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 3rem;

      .c-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 227px;
        height: 48px;
        border: 1.5px solid #D118A8;
        border-radius: 40px;
      }
      .c-content1{
        display: none;
      }

      button {
        background: none;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #D118A8;
        cursor: pointer;
      }

      .arrow-icon {
        color: #D118A8;
      }
    }

  }
}
