@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 998px) {

}

@media screen and (max-width: 768px) {
  #header{
    background: none;
    position: relative;
    z-index: 99;
    .header{
      display: block;
      padding: 15px 0;
      .burger_menu{
        display: block;
      }
      .burgermenu{
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 1;
        text-align: center;
        .burger-content{
          font-size: 35px;
          padding-bottom: 2rem;
        }
        .first{
          margin-top: 5rem;
        }
        img{
          margin-bottom: 1.5rem;
          width: 100%;
          height: 10rem;
        }
      }
      .left{
        display: flex;
        h1{
          display: none;
        }
        h2{
          padding-left: 6rem;
          display: block;
          font-weight: 700;
          font-size: 70px;
          line-height: 48px;
          color: #D118A8;
          text-align: center;
        }
        h5{
          padding-left: 6rem;
          display: block;
          text-align: center;
          font-weight: 700;
          font-size: 40px;
          line-height: 17px;
          color: #FF00C7;
          padding-top: 1rem;
          position: relative;
          z-index: 99;
        }
        .app{
          display: block;
        }
      }
      img{
        margin: 0;
      }
      .around{
        display: none;
      }
      h1 {
        display: block;
        text-align: center;
        color: #D118A8;
        font-weight: 700;
        font-size: 60px;
        line-height: 48px;
      }
      .img-media{
        display: block;
        position: absolute;
        top: 30px;
        right: 10px;
      }
      .img-media1{
        display: block;
        position: absolute;
        top: 43px;
        right: 50px;
        width: 22px;
        height: 22px;
      }
      .right{
        .block{
          display: none;
        }
      }
    }
  }

  #home{
    .home{
      display: block;
      .block1{
        display: flex;
        flex-direction: column-reverse;
        .family{
          width: 100%;
        }
        .content-1{
          h1{
            font-size: 30px;
            padding: 50px 0 0 0;
            text-align: center;

          }
          ul{
            display: flex;
            padding: 25px;
            li{
              margin: 20px;
              padding: 0;
            }
          }
        }

      }
      .block2{
        h1{
          font-size: 60px;
          padding: 20px 0 70px 0;
        }
        .content-2{
          display: block;
        }
      }
      .block3{
        h1{
          display: none;
        }
        h2{
          display: block;
          font-weight: 700;
          font-size: 60px;
          line-height: 48px;
          color: #72072D;
          padding: 20px 0 70px 2rem;
        }
        .recomen-block1{
          .recomen-block{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 0;
            .block-r{
              padding: 10px;
              h1{
                display: block;
              }
            }
          }
        }
      }
    }
    .bag{
      display: none;
    }
  }

  #wininfo{
    padding: 0;
    .wininfo{
      text-align: center;
      .block{
        display: block;
        text-align: center;
        .left{
          img{
            margin-top: 3rem;
          }
        }
        .right{
          text-align: center;
          padding: 0;
          .sizes{
            display: flex;
            justify-content: center;
            align-items: center;
            .size{
              margin: 5px;
            }
          }
        }
        .colors{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .btns{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .modal{
            top: 80rem;
            right: 4rem;
            background: #72072D;
            color: #FFFFFF;
          }
        }
      }
    }
    p{
      padding-bottom: 2rem;
    }
  }

  #footer{
    .footer{
      display: none;
    }
    .footer2{
      display: block;
      text-align: center;
      padding: 20px;
      h1{
        font-weight: 700;
        font-size: 60px;
        color: #FFFFFF;

      }
      h5{
        font-weight: 700;
        font-size: 25px;
        color: #FF00C7;
      }
      h4{
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        margin: 20px 0;

      }
      h3{
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;
        width: 19rem;
        margin-bottom: 15px;
        margin-left: 7rem;
      }
      p{
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

}

@media screen and (max-width: 576px) {

}