#womenpage{
  padding: 0 20px;

  .womenpage{
    .title{
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: #72072D;
    }
  }
  .img-title{
    display: flex;
    j
    .title2{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 117.69%;
      color: #000000;
    }
    .desc{
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 117.69%;
      color: #000000;
    }
  }
}